# build
build/
.ninja_deps
.ninja_log

# meson
meson-logs/
meson-private/

# vendored subproject sources 
subprojects/libuv-v1.51.0/
subprojects/spdlog-1.17.0/
subprojects/llhttp-release-v9.4.1/
subprojects/packagecache/
subprojects/yyjson/
subprojects/doctest-2.4.11/

# editor
.vscode/
.idea/
*.swp
*.swo
.clangd/
compile_commands.json

# os
.DS_Store
Thumbs.db

# secrets
lunar.env

# clangd
.cache/